<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false">
    <logging>
        <log type="coverage-html" target="./doc/coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="functional">
            <directory>./test/Functional</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>./test/Integration</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>./test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
